In [28]:

import pandas as pd 
import pickle 
import numpy as np
from sklearn import preprocessing 
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import train_test_split 
from sklearn.neighbors import KNeighborsClassifier 
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
df = pd.read_csv("D:/csv/train.csv")

In [30]:
df.shape # Dataframe Rows, Columns

(900000, 33)

In [31]:
del df['id']
del df['f_27']

In [32]:
df['f_26'].fillna(df['f_26'].mean(), inplace=True)

In [33]:
newdf = df[["f_19","f_20","f_21","f_22","f_23","f_24","f_25","f_26","f_28","target"]]

In [34]:
newdf.head(2)

,f_19,f_20,f_21,f_22,f_23,f_24,f_25,f_26,f_28,target
0,0.298218,-0.919717,3.058541,-2.540739,0.766952,-2.730628,-0.208177,1.363402,67.609153,0
1,-3.147667,-1.075434,2.179050,2.278315,-0.633658,-1.217077,-3.782194,-0.058316,377.096415,1

In [35]:
XTT = newdf.drop(columns=['target'])
yTT = newdf['target']

In [36]:
X_train, X_test, y_train, y_test = train_test_split(XTT, yTT, test_size=0.2)

In [37]:
modelKNN = KNeighborsClassifier(n_neighbors=25)
resultKNN = modelKNN.fit(X_train, y_train)
prediction_test = modelKNN.predict(X_test)
accuracyKNN = metrics.accuracy_score(y_test, prediction_test)
print("Model Accuracy (KNN):" "\n", accuracyKNN)

Model Accuracy (KNN):
 0.6871055555555555

In [38]:
from sklearn.model_selection import cross_val_score
knn_clf = KNeighborsClassifier()
knn_scores = cross_val_score(knn_clf, X_train, y_train, cv=5)
knn_mean = knn_scores.mean()
print(knn_mean)

0.6608513888888888

In [39]:
dftest = pd.read_csv("D:/csv/test.csv")

In [40]:
dftest.head(2)

,id,f_00,f_01,f_02,f_03,f_04,f_05,f_06,f_07,f_08,...,f_21,f_22,f_23,f_24,f_25,f_26,f_27,f_28,f_29,f_30
0,900000,0.442517,0.174380,-0.999816,0.762741,0.186778,-1.074775,0.501888,6,6,...,-1.006400,-1.193879,-2.435736,-2.427430,-1.966887,5.734205,BAAABADLAC,99.478419,0,0
1,900001,-0.605598,-0.305715,0.627667,-0.578898,-1.750931,1.355550,-0.190911,1,3,...,2.382405,0.149442,1.883322,-2.848714,-0.725155,3.194219,AFABBAEGCB,-65.993825,1,0

In [41]:
ntest = dftest[["f_19","f_20","f_21","f_22","f_23","f_24","f_25","f_26","f_28"]]
ntest.head()

,f_19,f_20,f_21,f_22,f_23,f_24,f_25,f_26,f_28
0,-1.128371,2.749347,-1.006400,-1.193879,-2.435736,-2.427430,-1.966887,5.734205,99.478419
1,-4.424098,1.080762,2.382405,0.149442,1.883322,-2.848714,-0.725155,3.194219,-65.993825
2,-1.523864,-1.406712,-7.026098,1.312277,-5.157192,1.714005,0.585032,0.066898,-87.405622
3,-1.404597,3.011085,-0.594532,-3.939475,1.754570,-2.364007,-1.003320,3.893099,-281.293460
4,-1.968516,0.100594,0.084906,-0.985736,-0.130467,-3.557893,1.210687,1.861884,25.629415

In [42]:

newCSV = dftest[['id']]

In [43]:
newCSV

             id
0        900000
1        900001
2        900002
3        900003
4        900004
...         ...
699995  1599995
699996  1599996
699997  1599997
699998  1599998
699999  1599999

[700000 rows x 1 columns]

In [44]:
predictionOnTest = modelKNN.predict(ntest)

In [45]:
predictionOnTest

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [46]:
newCSV['target'] = predictionOnTest

C:\Users\AL-HameedComputers\AppData\Local\Temp\ipykernel_1688\1375906750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newCSV['target'] = predictionOnTest

In [47]:
newCSV

             id  target
0        900000       0
1        900001       1
2        900002       0
3        900003       0
4        900004       0
...         ...     ...
699995  1599995       0
699996  1599996       1
699997  1599997       0
699998  1599998       0
699999  1599999       0

[700000 rows x 2 columns]

In [49]:
newCSV.to_csv('Umer632922.csv', index=False)